// Configure your gradient here!
// bgLeft and bgRight are the left and right colors of the Jumbotron gradient.
bgLeft = #00a86a
bgRight = #6f5498

.jumbotron
    background-color bgRight
    background-image -webkit-gradient(linear, left top, left bottom, from(bgLeft), to(bgRight))
    background-image -webkit-linear-gradient(top, bgLeft 0%, bgRight 100%)
    background-image -o-linear-gradient(top, bgLeft 0%, bgRight 100%)
    background-image linear-gradient(to right, bgLeft 0%, bgRight 100%)
    
.jumbotron h1, .jumbotron p
    color white
    
.jumbotron p a
    color white
    border-bottom 1px dotted white
    
#query
    margin-right 15px
    margin-left 15px

body 
  /* Margin bottom by footer height */
  margin-bottom 20px

.footer
  position absolute
  bottom 0
  width 100%
  /* Set the fixed height of the footer here */
  height 20px
  line-height 20px /* Vertically center the text there */
  background-color #f5f5f5
  text-transform uppercase
  text-align center
 
.with-heart
    color red