// Configure your gradient here!
// bgLeft and bgRight are the left and right colors of the Jumbotron gradient.
bgLeft = #00a86a
bgRight = #6f5498

footerHeight = 20px

.jumbotron
    background-color bgRight
    background-image -webkit-gradient(linear, left top, left bottom, from(bgLeft), to(bgRight))
    background-image -webkit-linear-gradient(top, bgLeft 0%, bgRight 100%)
    background-image -o-linear-gradient(top, bgLeft 0%, bgRight 100%)
    background-image linear-gradient(to right, bgLeft 0%, bgRight 100%)
    margin-bottom 20px !important
    
.jumbotron h1, .jumbotron p
    color white
    
.jumbotron p a
    color white
    border-bottom 1px dotted white
    
#query
    margin-right 15px
    margin-left 15px

html
    position relative
    min-height 100%

body 
    margin-bottom footerHeight // Gotta leave space for the footer!

.footer
    position absolute
    bottom 0
    width 100%
    height footerHeight // Fixed footer height
    line-height footerHeight // Vertically center text
    background-color #f5f5f5
    text-transform uppercase
    text-align center

.with-heart
    color red