extends whizbang.pug

block head
  //- Anything you need in the head tag goes here.
  //- Also, configure your template variables here: baseurl is the base url for your
  //- API, github is the url for your GitHub repo, and octocatColors are the
  //- background and octocat colors of the GitHub corner
  
  - var baseurl = 'https://your-api-here.com/api/'
  - var github = 'https://github.com/vivshaw/whizbang'
  - var octocatColors = ['#fff', '#6f5499']
  
  title API landing page template

block jumbotron
  //- Bootstrap jumbotron content goes in here.
  //- If you want to configure the background gradient colors, head over to
  //- source/stylesheets/main.styl
  
  h1.display-3 Whizbang: chrome up your API
  p
    | This is a landing page template for Node + Express APIs. The design priority
    | is to give the user a responsive landing page with a quick rundown of what the API is and how it works, a link to
    | the project GitHub, and a form to try it out. The dev workflow priority is to make
    | a quick minimal-config solution so you can drop it in, forget it, and focus on actually writing your sweet new Express API.
    | It's as easy as "git clone", "npm install" & editing one pug template, it has built-in automation with npm scripts,
    | and it's even Heroku-ready. Built with 
    a(href='https://pugjs.org') Pug
    | , 
    a(href='http://stylus-lang.com') Stylus
    | , 
    a(href='https://v4-alpha.getbootstrap.com') Bootstrap 4
    | , & 
    a(href='https://www.npmjs.com') npm
    |  for all-killer no-filler workflow magic.
  p
    | Inspired by
    a(href = 'https://www.freecodecamp.com/') 
      i.fa.fa-free-code-camp
      |  FreeCodeCamp's
    |  API development challenges.

block content
  //- Page content goes in here.
  //- You're on Bootstrap, so you can do pretty much whatever you want.
  //- Consult the awesome Bootstrap docs if you need some help:
  //- https://v4-alpha.getbootstrap.com/getting-started/introduction/
  
  .container
      .row
        .col-md-6
          h2 Example usage:
          p
            code #{baseurl}query-goes-here
            
          h2 Example output:
          p
            code { "example": 1488501712, "data": "March 1, 2017" }
            
          h2 Try it!
          p Describe query here, then edit the form to submit it properly.
          form(method='GET' action=baseurl)
            label(for=query) Query: 
            input(type='text' name='query' id='query')
            button.btn.btn-primary Submit
            
        .col-md-6
          h2 It's this easy:
      
          ol
            li
              p
                kbd git clone https://github.com/vivshaw/whizbang
                br
                kbd cd whizbang/
                br
                kbd npm install
                br
                kbd npm run watch
                  
            li
              p
                | Edit
                code templates/index.pug
                |  to configure your vars and write your content (in Bootstrap).
                code baseurl
                |  is your API's base url, 
                code github
                |  is your API's github repository, and
                code octocatColors
                |  are the background and foreground colors of the 
                a(href='http://tholman.com/github-corners/') tholman
                | -style GitHub corner.
            
            li
              p
                | Edit
                code stylesheets/main.styl
                |  to configure the jumbotron gradient colors with the vars
                code bgLeft
                |  and
                code bgRight
            
            li
              p
                | Write your API! All changes will refresh live with 
                a(href='https://nodemon.io/') nodemon
                | . 
                
            p
              | For Heroku deployment & other details, 
              a(href='https://github.com/vivshaw/whizbang/blob/master/README.md') consult the docs
              | .
          
block scripts
  //- Any js scripts you need at the end of the page go here!